/************************************/
/* General */
/**********************************/

.mainContainer {
  width: 100%;
  padding: 6.4rem 2.4rem;

  display: flex;
  justify-content: center;
}

.dataContainer {
  max-width: 60rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noMetamask {
  text-align: center;
  font-size: 3rem;

  padding: 6.4rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.noMetamask img {
  width: 6.4rem;
}

.horizontalLine {
  width: 100%;
  height: 0.2rem;
  background-color: #2a3042;
  margin: 4rem 0 3rem;
}

/************************************/
/* Header */
/**********************************/

.header {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header h1 {
  margin: 1rem 0;
  font-size: 6.4rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #1c936f 0%, #48dcb0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bio {
  text-align: center;
  color: #ccc;
  font-size: 1.6rem;
  line-height: 1.3;
}

/************************************/
/* waveCount */
/**********************************/

.waveCountContainer {
  height: 10rem;
  text-align: center;
  margin: 6.4rem 0 7.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.description {
  font-size: 1.3rem;
  color: #aaa;

  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.wavesValueContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wavesValue {
  font-size: 8rem;
  font-weight: 600;
  color: #fff;
}

.handWaveEmoji {
  font-size: 5.4rem;
}

/************************************/
/* Message input */
/**********************************/

.waverContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.inputMessage {
  padding: 2.4rem 1.2rem;
  border-radius: 5px;
  color: #fff;
  background-color: #2a3042;
  border: 1px solid rgba(205, 223, 217, 0.1);
  box-shadow: 1px 1px 6px 2px rgba(60, 69, 66, 0.4);
}

.inputMessage::placeholder {
  color: #48dcb0;
}

/************************************/
/* Buttons */
/**********************************/

.button {
  cursor: pointer;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 5px;
  max-width: 15rem;
  margin: 0 auto;
}

.waveButton {
  background-image: linear-gradient(
    to right,
    #1c936f 0%,
    #48dcb0 51%,
    #1c936f 100%
  );
  background-size: 200% auto;

  transition: all 0.3s;
}

.waveButton:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

.connectWalletButton {
  background-image: linear-gradient(to right, #aaa 0%, #ddd 51%, #aaa 100%);
  background-size: 200% auto;

  transition: all 0.3s;
}

.connectWalletButton:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}

/************************************/
/* Transaction Hash */
/**********************************/

.txnContainer {
  height: 5rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.txnValue {
  font-size: 1.4rem;
  color: #ccc;
}

/************************************/
/* User Messages */
/**********************************/

.waveMessagesContainer {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.waveMessagesTitle {
  text-align: center;
  font-size: 2.4rem;
}

.waveMessage {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.waveMessage {
  padding: 1.6rem;
  font-size: 1.4rem;
  background-color: #2a3042;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.messageDetails {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.address {
  font-size: 1.4rem;
  color: #1fa27b;
}

.time {
  font-size: 1.1rem;
  color: #aaa;
}

.message {
  font-size: 1.6rem;
}
